.col{
  font-family: 'Abel', sans-serif;
  margin: auto;
  height: px;
  display: grid;
}



.body{
  background-color:#e5dfdf;
  
}

.genres{
  background-color:#e5dfdf;
}
.genre{
  display: block;
  color: #3c6f9c;
  font-size: 20px;
  text-align: center;
  word-wrap: inherit;
}
.date{
  overflow: auto;
  color:#91989ee0;
  padding-left: 300px;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  margin: 0;
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);

}

.header{
  width: auto;
  display: block;
  color: #b2e4d5;
  background-color: #3c6f9c;
  font-size: 30px;
  height: 50px;
  display: grid;
}
.search{
  width: 99%;
  padding: 12px 20px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: large;
  font-family: 'Lato', sans-serif;
  border-radius: 20px;
  text-align: center;
}
.submit{
  cursor: pointer;
  border: none;
  color: black;
  background-color:#29a19c;
  text-decoration: none;
  padding: 7px 25px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 6px;
 

}
.back{
  cursor: pointer;
  border: none;
  color: black;
  background-color:#29a19c;
  text-decoration: none;
  padding: 7px 25px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 6px;
  margin: 10px 0;
 
}

.movie{
  text-align: center;
  margin: auto;
  font-family:'Abel', sans-serif;
}
.navbar{
  color: #b2e4d5;
  background-color: #3c6f9c;
  width: auto;
  padding-top: 50px;
  height: 100px;
  font-family: 'Abel', sans-serif;
  margin: auto;
}
.title{
  font-size: 50px;
  margin: auto;
  text-align: center;  
}

.details{
  text-align: center;
  font-size: large;
  color: gray;
  font-family: 'Lato', sans-serif;

}
.head{
  color: #3c6f9c;
  font-size: x-large;
  font-family: 'Lato', sans-serif;

}

.App {
  text-align: center;
}
/*

#CHANGE LATER

.overview{
  font-size: 20px;
  color: #282c34;
  text-align: justify;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 51%;
  transform: translate(-50%, -50%);
}
*/
.overview{
  font-size: 25px;
  color: #282c34;
}
.poster{
  margin: auto;
  height: auto;
  position: relative;
  
}
.view{
  cursor: pointer;
  border: none;
  color: black;
  background-color:#29a19c;
  text-decoration: none;
  padding: 7px 25px;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  border-radius: 6px;

}
.footer{
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
